<!-- Popular People - Section - Start -->
<div class="container pg-top-section w-cards-p-people">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h3><i class="fas fa-users"></i><span>Popular People</span></h3>
		</div>			
	</div>
	<div class="row">

		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card w-card lmn-card">
				<a href=""><img src="img/people/chris-hemsworth.jpg" alt="" class="img-fluid" /></a>
				<div class="card-body">
					<h5 class="card-title"><a href="#">Chris Hemsworth</a></h5>
					<span class="p-movie-title">The Avengers, Avengers: Age of Ult...</span>
				</div>					
			</div>
		</div>

		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card w-card lmn-card">
				<a href=""><img src="img/people/henry-cavill.jpg" alt="" class="img-fluid" /></a>
				<div class="card-body">
					<h5 class="card-title"><a href="">Henry Cavill</a></h5>
					<span class="p-movie-title">Batman v Superman: Dawn of Just...</span>
				</div>					
			</div>
		</div>
		
		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card w-card lmn-card">
				<a href=""><img src="img/people/jason-momoa.jpg" alt="" class="img-fluid" /></a>
				<div class="card-body">
					<h5 class="card-title"><a href="">Jason Momoa</a></h5>
					<span class="p-movie-title">Batman v Superman: Dawn of Just...</span>
				</div>					
			</div>
		</div>

		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card w-card lmn-card">
				<a href=""><img src="img/people/jason-statham.jpg" alt="" class="img-fluid" /></a>
				<div class="card-body">
					<h5 class="card-title"><a href="">Jason Statham</a></h5>
					<span class="p-movie-title">Fast &amp; Furious 6, Furious 7, Spy, The...</span>
				</div>					
			</div>
		</div>

		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card w-card lmn-card">
				<a href=""><img src="img/people/johnny-depp.jpg" alt="" class="img-fluid" /></a>
				<div class="card-body">
					<h5 class="card-title"><a href="">Johnny Depp</a></h5>
					<span class="p-movie-title">Pirates of the Caribbean: The Curse...</span>
				</div>					
			</div>
		</div>

		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card w-card lmn-card">
				<a href=""><img src="img/people/robert-de-niro.jpg" alt="" class="img-fluid" /></a>
				<div class="card-body">
					<h5 class="card-title"><a href="">Robert De Niro</a></h5>
					<span class="p-movie-title">Silver Linings Playbook, Limitless...</span>
				</div>					
			</div>
		</div>

		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card w-card lmn-card">
				<a href=""><img src="img/people/tom-hardy.jpg" alt="" class="img-fluid" /></a>
				<div class="card-body">
					<h5 class="card-title"><a href="">Tom Hardy</a></h5>
					<span class="p-movie-title">Inception, Mad Max: Fury Road, The...</span>
				</div>					
			</div>
		</div>

		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card w-card lmn-card">
				<a href=""><img src="img/people/wesley-snipes.jpg" alt="" class="img-fluid" /></a>
				<div class="card-body">
					<h5 class="card-title"><a href="">Wesley Snipes</a></h5>
					<span class="p-movie-title">Blade, The Expendables 3, Blade II...</span>
				</div>					
			</div>
		</div>						

	</div>
</div>
<!-- Popular People - Section - End -->