<!-- Movie Slider - Start -->
<div class="container movie-slider-wrap">
	<div class="row movie-slider-cont">
		<!-- Display Error Message -->
		<div *ngIf="errorMsg" class="error-msg">
			{{errorMsg}}
		</div>
		<owl-carousel-o class="movie-slider" [options]="customOptions">
			<ng-container *ngFor="let poster of getMoviePosters | slice:0:9; let i = index;">
				<ng-template carouselSlide [id]="poster.id">
					<a href="#" title="">
						<img class="img-fluid" src="{{poster.poster_path}}" alt="" title="{{poster.title}}" />
					</a>
				</ng-template>
			</ng-container>
		</owl-carousel-o>
	</div>
</div>
<!-- Movie Slider - End -->