<!-- Movie Slider - Start -->
<div class="container movie-slider-wrap">
	<div class="row movie-slider-cont">
		<div class="movie-slider owl-carousel owl-theme">
			<div class="col-lg-12 item movie-item"><a href="#" title=""><img class="img-fluid" src="assets/movie-slider/1.jpg" alt="" title="" /></a></div>
			<div class="col-lg-12 item movie-item"><a href="#" title=""><img class="img-fluid" src="assets/movie-slider/2.jpg" alt="" title="" /></a></div>
			<div class="col-lg-12 item movie-item"><a href="#" title=""><img class="img-fluid" src="assets/movie-slider/3.jpg" alt="" title="" /></a></div>
			<div class="col-lg-12 item movie-item"><a href="#" title=""><img class="img-fluid" src="assets/movie-slider/4.jpg" alt="" title="" /></a></div>	
			<div class="col-lg-12 item movie-item"><a href="#" title=""><img class="img-fluid" src="assets/movie-slider/5.jpg" alt="" title="" /></a></div>
			<div class="col-lg-12 item movie-item"><a href="#" title=""><img class="img-fluid" src="assets/movie-slider/5.jpg" alt="" title="" /></a></div>			
		</div>
	</div>
</div>
<!-- Movie Slider - End -->