<div class="row page-title">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<h3><i class="fa fa-globe"></i><span>Staying in Touch</span></h3>
	</div>			
</div>				
<div class="pg-contents">
	<div class="contact-cont">
		<p>If you're looking for some help, the best place to get support is our discussion area.</p>
		<p>If you would like to contact us directly, you can use this <a href="" class="link-key" id="contact-form-link"><strong>form</strong></a>.</p>
	</div>
	<div class="contact-form-wrap">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<form action="" id="contact-form">
					<div class="form-group">
						<label for="txt-emailAddress">Email Address</label>
						<input type="email" id="txt-emailAddress" class="form-control" />
					</div>

					<div class="form-group">
						<label for="txt-subject">Subject</label>
						<input type="text" id="txt-subject" class="form-control" maxlength="30" />
					</div>

					<div class="form-group">
						<label for="txt-message">Message</label>
						<textarea name="" id="" class="form-control txt-message"></textarea>
					</div>

					<div class="form-group">
						<input type="submit" name="" class="btn btn-primary btn-contact-submit" value="Send">
					</div>

				</form>
			</div>
		</div>
	</div>
</div>