	<!-- Latest Movie News - Start -->
	<div class="container w-cards-lmovienews">
		<div class="row">
			<div class="col-lg-9 col-md-12 col-sm-12">
				<h3><i class="fa fa-film"></i><span>Latest Movie News</span></h3>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-12">
				<p class="text-right mb-0 va-link-wrap">
					<a href="" class="va-link">View All &gt;&gt;</a>
				</p>
			</div>			
		</div>
		<div class="row">

			<div class="col-lg-3 col-md-12 col-sm-12">
				<div class="card w-card lmn-card">
					<a href=""><img src="assets/movie-news/1.jpg" alt="" class="img-fluid" /></a>
					<div class="card-body">
						<h5 class="card-title"><a href="">The Rock Got Paid $13 Million More Than...</a></h5>
						<p class="text-right mb-0"><a href="#" class="vm-link">View More &gt;&gt;</a></p>
					</div>					
				</div>
			</div>

			<div class="col-lg-3 col-md-12 col-sm-12">
				<div class="card w-card lmn-card">
					<a href=""><img src="assets/movie-news/2.jpg" alt="" class="img-fluid" /></a>
					<div class="card-body">
						<h5 class="card-title"><a href="">Kevin Spacey 'Let Me Be Frank' YouTube...</a></h5>
						<p class="text-right mb-0"><a href="#" class="vm-link">View More &gt;&gt;</a></p>
					</div>					
				</div>
			</div>

			<div class="col-lg-3 col-md-12 col-sm-12">
				<div class="card w-card lmn-card">
					<a href=""><img src="assets/movie-news/3.jpg" alt="" class="img-fluid" /></a>
					<div class="card-body">
						<h5 class="card-title"><a href="">'Goodfellas' character actor Frank Adonis...</a></h5>
						<p class="text-right mb-0"><a href="#" class="vm-link">View More &gt;&gt;</a></p>
					</div>					
				</div>
			</div>

			<div class="col-lg-3 col-md-12 col-sm-12">
				<div class="card w-card lmn-card">
					<a href=""><img src="assets/movie-news/4.jpg" alt="" class="img-fluid" /></a>
					<div class="card-body">
						<h5 class="card-title"><a href="">Tom Hanks' Mister Rogers Film Finally...</a></h5>
						<p class="text-right mb-0"><a href="#" class="vm-link">View More &gt;&gt;</a></p>
					</div>					
				</div>
			</div>			

		</div>
	</div>
	<!-- Latest Movie News - End -->