<div class="col-lg-12 movie-card-cont px-0">

	<!-- Display Error Message -->
	<div *ngIf="errorMsg" class="error-msg">
		{{errorMsg}}
	</div>

	<!-- Movie - Start -->
	<div *ngFor="let mcard of getMovieCard | slice:0:4; let i = index" class="card w-card movie-card">
		<div class="row card-body">

			<div class="col-lg-4 col-sm-12 movie-lhs-pic">
				<a href="">
					<img class="img-fluid" src="{{mcard.poster_path}}" [title]="mcard.title" alt="" />
				</a>
			</div>
			<div class="col-lg-8 col-sm-12 movie-rhs-cont">
				<div class="card-title movie-title"><a href="">{{mcard.title}}</a></div>
				<div class="movie-sh-desc">{{ (mcard.overview.length > 150) ? (mcard.overview | slice:0:150)+"..." : (mcard.overview)}}</div>
				<div class="moviestar-rate-display">
					<star-rating-comp [starType]="'svg'" [direction]="'ltr'" [rating]="mcard.vote_average / 2" [numOfStars]="5" [size]="'large'" [showHalfStars]="true" [staticColor]="'ok'" [readOnly]="true"></star-rating-comp>
					<!-- <input id="input-id" name="input-name" type="number" class="rating" min=0 max=10 step=1 data-size="sm" data-readonly="true" value="{{mcard.vote_average}}"> -->
				</div>
				<div class="movie-ty-wrap">
					<div class="row">
						<div class="col-12 col-sm-3">
							<div class="movie-cal">
								<i class="fa fa-calendar"></i><span class="m-year">{{mcard.release_date | slice:0:4}}</span>
							</div>
						</div>
						<div class="col-12 col-sm-9">
							<div class="movie-tags">
								<i class="fa fa-tags"></i><span class="m-tags">-</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Movie - End -->		

</div>